@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  zoom: 85%;
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-neutral-100 dark:bg-neutral-900;
  @apply text-black/50 dark:text-white/75;


  background-image: radial-gradient(circle at center, rgba(246, 144, 144, 0.4) 0.5px, transparent 0);
  background-size: 4px 4px;
}

.dark body {
  background-image: radial-gradient(circle at center, rgba(144, 144, 246, 0.3) 0.5px, transparent 0);
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply bg-neutral-100/90 dark:bg-neutral-900/90;
  @apply backdrop-blur-sm saturate-[10];
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold prose-p:font-serif;
  @apply prose-headings:text-black prose-headings:dark:text-white;
}

@layer base {
  /* .prose .katex-display {
    @apply text-foreground;
  } */
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/15 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
  }

  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-black/25 dark:decoration-white/50;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}

.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}


.gradient-text {
  @apply bg-gradient-to-r from-blue-500 to-green-500;
  @apply bg-clip-text;
  @apply text-transparent;
}

.striped {
  --stripe-color-light: #9c9c9c30;
  --stripe-color-dark: #7b7b7b30;
  background: repeating-linear-gradient(45deg,
      transparent,
      transparent 10px,
      var(--stripe-color, var(--stripe-color-light)) 10px,
      var(--stripe-color, var(--stripe-color-light)) 20px);
  background-position: 0 0;
  transition: background-position 0.3s ease;
}

@media (prefers-color-scheme: light) {
  .striped {
    --stripe-color: var(--stripe-color-light);
  }
}

.dark .striped {
  --stripe-color: var(--stripe-color-dark);
}

.striped-left:hover {
  background-position: 0 20px;
}

.striped-right:hover {
  background-position: 0 -20px;
}


.page img {
  @apply border-neutral-500 border rounded-sm bg-neutral-500/10 p-4;
}