---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header class="p-2 border-b-4 dark:border-neutral-800 border-neutral-200">
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="flex items-center gap-2">
          <!-- <img src="/tensor.png" alt="logo" class="w-4" /> -->
          <div class="font-semibold">
            {SITE.NAME}
          </div>
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog"> blog </Link>
        <span>
          {`/`}
        </span>
        <Link href="/papers"> papers </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects"> projects </Link>
      </nav>
    </div>
  </Container>
</header>
