---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { PAPERS } from "@consts";
import BackToPrev from "@components/BackToPrev.astro";

const collection = (await getCollection("papers"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.dateRead.valueOf() - a.data.dateRead.valueOf());
---

<PageLayout title={PAPERS.TITLE} description={PAPERS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate">
        <BackToPrev href="/">
          Back to home
        </BackToPrev>
      </div>
      <div class="font-semibold text-black dark:text-white">
        Papers I've Read
      </div>
      <ul class="flex flex-col gap-4">
        { 
          collection.map(entry => (
            <li>
              <ArrowCard entry={entry} />
            </li>
          ))
        }
      </ul>

      <div class="font-semibold text-black dark:text-white">
        Papers I've Published
      </div>
      <ul class="animate flex flex-col gap-4">
        <p>I have not Published any papers yet</p>
      </ul>
    </div>
  </Container>
</PageLayout>
